* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.nav {
  background-color: #213547;
  color: white;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0 1.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.nav li.active {
  background-color: #646cff;
}

.nav li:hover {
  background-color: #1a1a1a;
}

a {
  text-decoration: none;
}

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
  padding: 1rem;
}

.list__item {
  background-color: #213547;
  /* height: 26rem;
  width: 23rem; */
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 0.8rem 0;
}

.list__item-title {
  padding: 0.5rem;
  text-decoration: none;
}

.list__item-image {
  background-size: cover;
  height: 20rem;
  width: 20rem;
}

.list__item-details {
  /* margin-top: auto; */
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.list__item-details ul {
  display: inline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
